//========================================
// GENERAL SITE STYLES
header {
   background-position: center;
   background-size: cover;
}

h1 {
   @include headerText(8rem, 92px);
}
//========================================


//========================================
//INDEX PAGE SPECIFIC
.index header {
   background-image: linear-gradient(rgba(0,0,0,.8) 5%, rgba(0,0,0,.1) 60%), url(../assets/header-image.jpg);
   position: relative;
   
   .headerContents {
      height: 90vh;
      display: flex;
      justify-content: space-between;
      padding-top: 55px;
   }
   
   .headerImage {
      position: relative;
      top: 20px;
      right: -2.6%;
      flex: 1 0 440px;
      max-width: 700px;
      
      img {
         width: 100%;
      }
   }
   
   h1 {
      @include headerText(13.8rem, 126px, auto);
      max-width: 450px;
      margin-left: 2.5%;
   }
}


//========================================
//BLOG PAGE SPECIFIC 
.blog header {
   background-image: url(../assets/blog-header.jpg);
   height: 80vh;
}


//========================================
//CONTACT PAGE SPECIFIC
.contact header {
   background-image: url(../assets/contact-header.jpg);
   height: 80vh;
}