header {
   height: 100vh;
   background-position: center;
   background-size: cover;
   
   .wrapper {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
   }
   
   h1 {
      @include headerText(8rem, 92px);
      // height: 90vh;
      margin: 0 auto;
      padding-right: 100px;
   }
}

.blog header {
   background-image: url(../assets/blog-header.jpg);
}

.contact header {
   background-image: url(../assets/contact-header.jpg);
   height: 80vh;

   h1 {
      padding-bottom: 100px;
      padding-right: 0;
   }
}


.index header {
   background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../assets/header-image.jpg);
   position: relative;
   
   .headerImage {
      position: absolute;
      top: 153px;
      right: 0;

      img {
         width: 55vw;
      }
   }

   h1 {
      @include headerText(13.8rem, 126px, auto);
      max-width: 450px;
      margin-top: 73px;
      margin-left: 50px;
   }
}