section,
article,
aside {
   background-color: $mainBackground;
   @include bodyText();
   
}

.readMore {
   @include button($accentColor, $mainBackground);
}

// INDEX PAGE
.index {
   h2 {
      @include headerText(4.2rem, auto);
   }
   
   h3 {
      @include headerText(3.2rem, auto);
   }
}

.aboutSection {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   h2 {
      margin-top: 10px;
   }

   p {
      text-align: left;
      width: 80%;
      margin: 27px auto;
   }
}

.mainArticles {
   background: $secondaryBackground;
   
   .readMore {
      @include button($mainBackground, #fff);
   }

   .newAdditions,
   .meetNemo {
      // height: 387px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      
      .newAdditionsText,
      .meetNemoText {
         flex: 1 1 320px;
         max-width: 520px;
         
         p {
            margin: 27px auto;
         }
      }

      .newAdditionsText {
         padding: 30px 30px 45px 30px;
      }

      .meetNemoText {
         padding: 45px 30px 30px 30px;
      }
      
      .newAdditionsImage,
      .meetNemoImage {
         flex: 1 2 415px;
         max-width: 515px;
         box-shadow: 30px 30px $accentColor;
         position: relative;
         
         img {
            width: 100%;
         }
      }
      
      .newAdditionsImage {
         order: -1;
         left: -32px;
         top: -34px;
      }
      
      .meetNemoImage {
         bottom: -5px;
         right: -2px;
      }
   }


   .meetNemo {
      margin-top: 30px;
      text-align: right;
   }
}

.siteMap {
   height: 90vh;
   // display: flex;
   // flex-direction: column;
   // justify-content: center;
   
   .wrapper {
      height: 100%;
   }

   ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      li {
         margin: 0 10px;
         min-height: calc(32px + 96px);
         flex: 1 0 443px;
         max-width: 500px;
         padding-left: 5px;

         .fa-li {
            left: -2.4em;
         }

         .fa-location-arrow,
         .fa-users,
         .fa-file,
         .fa-phone {
            color: $mainBackground;
            font-size: 1.533em;
            left: -5px;
         }

         .fa-circle {
            color: $accentColor;
            font-size: 2.8em;
            position: relative;
            left: -10px;
            top: -5px;
         }
      }

      li:nth-child(-n+2) {
         align-self: flex-end;
      }
   }
}

.aquariumView {
   min-height: 75vh;
   width: 100%;
   background: url(../assets/banner.jpg);
   // background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.monthProfile {
   padding: 110px 0;

   .wrapper {
      display: flex;
      justify-content: space-around;

      .monthProfileText {
         // align-self: center;
         flex: 0 1 750px;

         p {
            margin: 27px 0;
         }
      }

      .monthProfileImage {
         order: -1;
         flex: 0 0 275px;
         box-shadow: 30px 30px $accentColor;

         img {
            width: 100%;
         }
      }
   }
}

.gallery {
   background: $secondaryBackground;
   padding: 50px 0;

   ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0 50px;

      li {
         margin: 20px;
         flex: 1 0 200px;

         img {
            width: 100%;
         }
      }
   }
}


// BLOG PAGE
// * {border: red solid 1px;}

.blog main {
   background: $mainBackground;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 100%;
}

.discoveringSpecies {
   background-color: none;
   flex: 1 0 450px;
   max-width: 800px;
   position: relative;
   top: -214px;

   .blogImage {
      box-shadow: -30px 30px $accentColor;

      img {
         width: 100%;
      }
   }

   .blogText {
      padding: 60px 0 20px 40px;
      margin-right: 80px;
      border: 5px solid $accentColor;
      border-right: none;
      border-top: none;
      position: relative;
      left: -30px;

      .bydate {
         margin-bottom: 40px;
      }
   }
}
.comments {
   margin-right: 110px;

   h3 {
      margin: 20px 0;
   }

   .commentBox {
      display: flex;
      
      .userImage {
         height: 200px;
         margin-right: 20px;
         padding-top: 10px;

         img {
            width: 66px;
            height: 66px;
         }
      }

      .userComment p:last-child {
         line-height: 2.3rem;
         margin-top: 10px;
      }
   }

   .submitComment {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: -160px;
      
      input, textarea {
         background: none;
         @include bodyText();
         border: none;
         border-bottom: 2px solid $accentColor;
         padding: 10px 20px;
         
         &::placeholder {
            opacity: 1;
         }
      }
      
      input {
         width: calc(50% - 20px);
      }
      
      textarea {
         width: 100%;
         margin: 20px 0;
         border: 2px solid $accentColor;
         height: 200px;
      }
      
      .submit {
         background: $secondaryBackground;
         width: 100%;
         border: none;
         color: #fff;
      }
   }
}

.otherBlogs {
   background: $secondaryBackground;
   flex: 1 0 300px;
   max-width: 300px;
   order: -1;
   margin: 20px 50px;
   height: 100%;

   .sideImage {
      position: relative;
      left: -60px;
      top: -20px;
      width: 340px;
      height: 200px;
      overflow: hidden;

      img {
         width: 100%;
         transform: translateY(-18%);
      }
   }

   .sideText {
      padding: 15px;
      padding-top: 0;

      h3 {
         text-transform: uppercase;
         margin: 25px 0;
         margin-bottom: 5px;
      }

      h3:first-child {
         margin-top: 0;
      }

      p {
         line-height: 2.2rem;
      }

      ul { 
      padding-left: 15px;
         li {
            list-style: disc;
            padding-left: 7px;
         }
      }
   }
}


// CONTACT PAGE
.contactContainer {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   background: $mainBackground;
}

.contactInfo {
   order: -1;
   width: 30%;
   flex: 1 0 230px;
   max-width: 370px;
   align-self: center;
   margin: 0 50px;

   ul {
      display: flex;

      .fab {
         display: inline-block;
         margin-right: 30px;
         font-size: 2rem;
      }
   }

   h2 {
      text-transform: uppercase;
      margin: 20px 0;
   }

   p {
      line-height: 2.7rem;
   }
}

.contactSection {
   flex: 1 0 400px;
   max-width: 800px;
}

.contactSection .wrapper {
   display: flex;
   justify-content: flex-end;
}

.contactForm {
   background: $secondaryBackground;
   width: 100%;
   padding: 50px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: flex-end;
   box-shadow: -30px 30px $accentColor;
   position: relative;
   top: -190px;
   right: 15px;

   .nameInput,
   .emailInput, 
   .userComment {
      background: $secondaryBackground;
      @include bodyText();
      padding: 5px 20px;

      &::placeholder {
         opacity: 1;
      }
   }

   .nameInput, 
   .emailInput {
      height: 50px;
      width: calc(50% - 40px);
      margin: 20px;
      border: none;
      border-bottom: 2px solid $accentColor;
   }

   .userComment {
      width: 100%;
      height: 200px;
      margin: 0 20px;
      border: 2px solid $accentColor;
   }

   .submit {
      width: 100%;
      margin: 20px;
      border: none;
      background: $mainBackground;
      color: #fff;
   }
}