@mixin headerText($fontSize, $lineHeight, $letterSpace: 1) {
   color: #fff;
   font-family: 'Barlow', sans-serif;
   font-size: $fontSize;
   font-weight: 700;
   line-height: $lineHeight;
   letter-spacing: $letterSpace;
   text-transform: uppercase;
}

@mixin bodyText() {
   font-family: 'Lato', sans-serif; 
   font-size: 1.5rem;
   line-height: 32px;
   color: #fff;
}

@mixin button($bgColor, $fontColor) {
   background: $bgColor;
   color: $fontColor;
   font-family: 'Barlow', sans-serif;
   font-size: 1.5rem;
   text-align: center;
   line-height: 32px;
   letter-spacing: 1;
   padding: 5px 25px;
   text-transform: uppercase;

}