nav {
   display: flex;
   justify-content: flex-end;
   height: 10vh;
   width: 100%;
   align-self: flex-start;

   ul {
      display: flex;
      flex-basis: 50%;
      justify-content: space-between;

      
      li {
         @include headerText(20px, 29px);

         a {
            padding: 10px 15px;

            &:hover {
               color: $accentColor;
            }
         }
      }
   }
}

.index nav li {
   &:first-child {
      color: $accentColor;
   }
}

.blog nav li {
   &:nth-child(3) {
      color: $accentColor;
   }
}

.contact nav li {
   &:last-child {
      color: $accentColor;
   }
}