//INDEX: reposition New Addition & Meet Nemo section to ontop of each other
@media (max-width: 985px) {
   .mainArticles {
      .mainArticlesContainer {
         justify-content: center;
      }

      .newAdditionsText,
      .meetNemoText {
         flex: 1 0 550px;
      }

      .newAdditionsImage,
      .meetNemoImage {
         position: static;
         height: 100%;
      }

      .newAdditionsText {
         margin: 20px 50px 80px 0;
         padding-left: 0;
      }

      .meetNemoImage {
         order: 1;
      }

      .meetNemoText {
         order: 2;
         margin: 20px 0 0 50px;
         padding-right: 0;
      }
   }
}
//======================================


//INDEX: header sizing adjustment
@media (max-width: 955px) {
   .index header {
      .headerContents {
         flex-wrap: wrap;
         justify-content: flex-end;
         align-items: flex-end;
         padding-top: 0;
      }
   
      .headerImage {
         top: 0;
         max-width: 440px;
      }
   
      h1 {
         font-size: 10rem;
         max-width: 100%;
         margin: 0 auto;
         text-align: center;
      }
   }
}
//======================================


// INDEX: minor site map & profile section heigh adjustments
// BLOG POST: .otherBlogs pushed to bottom, position adjustments
// CONTACT: contact info pushed down, position adjustments
@media (max-width: 910px) {
   // INDEX PAGE 

   .siteMap {
      padding: 50px 0;
   }

   .monthProfile {
      padding: 60px 50px;
      text-align: center;

      .wrapper {
         .monthProfileText {
            margin-left: 0;
            margin-top: 20px;
         }
      }
   }

   //BLOG POST
   .discoveringSpecies {
      right: -25px;
      margin-right: 35px;
      flex: 1 0 250px;
   }
   
   .otherBlogs {
      order: 0;
      top: 0;
      max-width: 90%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px 90px;
   
      .sideImage {
         left: -20px;
         height: 100%;
   
         img {
            transform: translateY(0);
         }
      }
   
      .sideText {
         display: flex;
         flex-direction: column;
         align-items: center;
         flex: 1 0 235px;
         margin: 20px 0;
         padding-bottom: 0;
   
         p {
            width: 70%;
            text-align: center;
         }
      }
   }

   // CONTACT
   .contactContainer {
      margin-bottom: 0;
   }

   .contactInfo {
      position: static;
      order: 0;
      margin: 70px 57px;
      width: 100%;
      max-width: none;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      address {
         text-align: center;
      }
   }

   .contactSection {
      right: 0;
      height: 345px;

      h1 {
         padding-left: 40px;
      }

      .contactForm {
         margin-left: 25px;
      }
   }
}
//======================================


// INDEX: center main articles, adjust site map and profile positioning
// BLOG POSTS: center other blogs aside
@media (max-width: 670px) {
   // INDEX PAGE
   .mainArticles {
      padding: 40px 20px;

      .newAdditionsText,
      .meetNemoText {
         text-align: center;
         padding: 0;
         margin: 20px;
         flex: 1 0 300px;

         .readMore {
            align-self: center;
         }
      }

      .newAdditionsText {
         margin-bottom: 60px;
      }

      .newAdditionsImage,
      .meetNemoImage {
         flex: 1 0 250px;
      }
   }

   .siteMap {
      ul {
         li {
            flex: 1 0 300px;
            padding: 0 0 0 5px;
         }
      }
   }

   .monthProfile {
      padding: 110px 0;
   }

   // BLOG POSTS
   .otherBlogs {
      margin: 20px 35px;
      flex: 1 0 200px;
      .sideImage {
         left: 0;
      }
   }
}
//======================================


// MOBILE NAV STARTS HERE
// INDEX: header contents size adjustments, minor section height adjustments
// CONTACT PAGES: push contact form and info contents closer to edges
@media (max-width: 550px) {
   // MOBILE NAV STYLES
   .fa-bars {
      display: inline-block;
      position: fixed;
      right: 20px;
      top: 10px;
      z-index: 100;
      color: $mainBackground;
      background: $accentColor;
      border: 2px solid #fff;
      border-radius: 50%;
      font-size: 3.5rem;
      padding: 15px;
      cursor: pointer;
   }
   // hide the nav container to avoid vertical scroll
   nav {
      width: 1px;
      overflow: hidden;
   }
   // mobile nav styles
   nav ul {
      background: $mainBackground;
      border: 2px solid $accentColor;
      border-radius: 50%;
      padding: 41px;
      width: 265px;
      position: fixed;
      right: -100%;
      top: 100px;
      z-index: 100;
      flex-wrap: wrap;
      justify-content: flex-start;
      transition: right .3s ease-in;

      li {
         width: 115px;
         text-align: right;
      }
   }
   // jQuery class to allow for button functionality
   .nav-slide-in {
      right: -101px;
      top: 100px;
      transition: right .3s ease-out;
   }
   
   // INDEX PAGE
   .index {
      header h1 {
         font-size: 7rem;
         line-height: 7rem;
      }

      header .headerImage {
         flex: 1 0 300px;
      }

      h2 {
         line-height: 5rem;
      }
   }

   .aboutSection {
      padding: 50px 0;
      height: 100%;
      
      .wrapper p {
         text-align: center;
      }
   }

   .monthProfile .wrapper .monthProfileText {
      flex: 1 0 300px;

      p {
         padding: 0 15px;
      }
   }

   //CONTACT PAGE
   .contactSection {
      h1 {
         font-size: 6rem;
         line-height: 5rem;
         padding-right: 7px;
      }

      .contactForm {
         padding: 5px;

         input {
            width: 100%;
            margin-top: 0;
         }

         textarea {
            margin-top: 20px;
         }
      }
   }
}
//======================================

// wrapper widened
// INDEX: reduce box shadow, widen sitemap
// BLOG POSTS: reduce box shadow, center other blogs image
// CONTACT: reduce box shadow, reposition widths
@media (max-width: 450px) {
   .wrapper {
      width: 96%;
   }
   
   // INDEX PAGE
   .mainArticles {
      .newAdditionsImage img {
         box-shadow: 15px 15px $accentColor;
      }

      .meetNemoImage img {
         box-shadow: -15px 15px $accentColor;
      }

      .newAdditionsText p,
      .meetNemoText p {
         margin: 15px 0;
      }
   }
   
   .siteMap ul li {
      flex: 1 0 200px;
   }

   // BLOG POSTS
   .discoveringSpecies {
      .blogText {
         margin-right: 15px;
         left: -14.8px;
      }

      .blogImage {
         box-shadow: -15px 15px $accentColor;
      }
   }

   .comments {
      margin-right: 35px;

      .byDate {
         line-height: 2rem;
         padding-top: 7px;
      }

      .submitComment input {
         width: 100%;
      }
   }
   
   .otherBlogs .sideImage {
      position: static;
      width: 100%;
      flex: 1 0 200px;
   }

   //CONTACT PAGE
   .contactSection {
      right: 4px;
   }
   
   .contactForm {
      box-shadow: -15px 15px $accentColor;
   }

   .contactInfo {
      margin: 40px 20px;
   }
}
//======================================