html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, p, a, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 10vh;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1;
  text-transform: uppercase;
}

nav ul li a {
  padding: 10px 15px;
}

nav ul li a:hover {
  color: #86e0f9;
}

.index nav li:first-child {
  color: #86e0f9;
}

.blog nav li:nth-child(3) {
  color: #86e0f9;
}

.contact nav li:last-child {
  color: #86e0f9;
}

header {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

header h1 {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 92px;
  letter-spacing: 1;
  text-transform: uppercase;
  margin: 0 auto;
  padding-right: 100px;
}

.blog header {
  background-image: url(../assets/blog-header.jpg);
}

.contact header {
  background-image: url(../assets/contact-header.jpg);
  height: 80vh;
}

.contact header h1 {
  padding-bottom: 100px;
  padding-right: 0;
}

.index header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../assets/header-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/header-image.jpg);
  position: relative;
}

.index header .headerImage {
  position: absolute;
  top: 153px;
  right: 0;
}

.index header .headerImage img {
  width: 55vw;
}

.index header h1 {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 13.8rem;
  font-weight: 700;
  line-height: 126px;
  letter-spacing: auto;
  text-transform: uppercase;
  max-width: 450px;
  margin-top: 73px;
  margin-left: 50px;
}

section,
article,
aside {
  background-color: #0c1423;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  color: #fff;
}

.readMore {
  background: #86e0f9;
  color: #0c1423;
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1;
  padding: 5px 25px;
  text-transform: uppercase;
}

.index h2 {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 1;
  text-transform: uppercase;
}

.index h3 {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 1;
  text-transform: uppercase;
}

.aboutSection {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.aboutSection h2 {
  margin-top: 10px;
}

.aboutSection p {
  text-align: left;
  width: 80%;
  margin: 27px auto;
}

.mainArticles {
  background: #0f614e;
}

.mainArticles .readMore {
  background: #0c1423;
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1;
  padding: 5px 25px;
  text-transform: uppercase;
}

.mainArticles .newAdditions,
.mainArticles .meetNemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mainArticles .newAdditions .newAdditionsText,
.mainArticles .newAdditions .meetNemoText,
.mainArticles .meetNemo .newAdditionsText,
.mainArticles .meetNemo .meetNemoText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
  max-width: 520px;
}

.mainArticles .newAdditions .newAdditionsText p,
.mainArticles .newAdditions .meetNemoText p,
.mainArticles .meetNemo .newAdditionsText p,
.mainArticles .meetNemo .meetNemoText p {
  margin: 27px auto;
}

.mainArticles .newAdditions .newAdditionsText,
.mainArticles .meetNemo .newAdditionsText {
  padding: 30px 30px 45px 30px;
}

.mainArticles .newAdditions .meetNemoText,
.mainArticles .meetNemo .meetNemoText {
  padding: 45px 30px 30px 30px;
}

.mainArticles .newAdditions .newAdditionsImage,
.mainArticles .newAdditions .meetNemoImage,
.mainArticles .meetNemo .newAdditionsImage,
.mainArticles .meetNemo .meetNemoImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 415px;
          flex: 1 2 415px;
  max-width: 515px;
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
  position: relative;
}

.mainArticles .newAdditions .newAdditionsImage img,
.mainArticles .newAdditions .meetNemoImage img,
.mainArticles .meetNemo .newAdditionsImage img,
.mainArticles .meetNemo .meetNemoImage img {
  width: 100%;
}

.mainArticles .newAdditions .newAdditionsImage,
.mainArticles .meetNemo .newAdditionsImage {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  left: -32px;
  top: -34px;
}

.mainArticles .newAdditions .meetNemoImage,
.mainArticles .meetNemo .meetNemoImage {
  bottom: -5px;
  right: -2px;
}

.mainArticles .meetNemo {
  margin-top: 30px;
  text-align: right;
}

.siteMap {
  height: 90vh;
}

.siteMap .wrapper {
  height: 100%;
}

.siteMap ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siteMap ul li {
  margin: 0 10px;
  min-height: calc(32px + 96px);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 443px;
          flex: 1 0 443px;
  max-width: 500px;
  padding-left: 5px;
}

.siteMap ul li .fa-li {
  left: -2.4em;
}

.siteMap ul li .fa-location-arrow,
.siteMap ul li .fa-users,
.siteMap ul li .fa-file,
.siteMap ul li .fa-phone {
  color: #0c1423;
  font-size: 1.533em;
  left: -5px;
}

.siteMap ul li .fa-circle {
  color: #86e0f9;
  font-size: 2.8em;
  position: relative;
  left: -10px;
  top: -5px;
}

.siteMap ul li:nth-child(-n+2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.aquariumView {
  min-height: 75vh;
  width: 100%;
  background: url(../assets/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.monthProfile {
  padding: 110px 0;
}

.monthProfile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.monthProfile .wrapper .monthProfileText {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 750px;
          flex: 0 1 750px;
}

.monthProfile .wrapper .monthProfileText p {
  margin: 27px 0;
}

.monthProfile .wrapper .monthProfileImage {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 275px;
          flex: 0 0 275px;
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
}

.monthProfile .wrapper .monthProfileImage img {
  width: 100%;
}

.gallery {
  background: #0f614e;
  padding: 50px 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 50px;
}

.gallery ul li {
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
}

.gallery ul li img {
  width: 100%;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #0c1423;
}

.contactInfo {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 230px;
          flex: 1 0 230px;
  max-width: 370px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 50px;
}

.contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactInfo ul .fab {
  display: inline-block;
  margin-right: 30px;
  font-size: 2rem;
}

.contactInfo h2 {
  text-transform: uppercase;
  margin: 20px 0;
}

.contactInfo p {
  line-height: 2.7rem;
}

.contactSection {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
  max-width: 800px;
}

.contactSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contactForm {
  background: #0f614e;
  width: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
  position: relative;
  top: -190px;
  right: 15px;
}

.contactForm .nameInput,
.contactForm .emailInput,
.contactForm .userComment {
  background: #0f614e;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  color: #fff;
  padding: 5px 20px;
}

.contactForm .nameInput::-webkit-input-placeholder,
.contactForm .emailInput::-webkit-input-placeholder,
.contactForm .userComment::-webkit-input-placeholder {
  opacity: 1;
}

.contactForm .nameInput:-ms-input-placeholder,
.contactForm .emailInput:-ms-input-placeholder,
.contactForm .userComment:-ms-input-placeholder {
  opacity: 1;
}

.contactForm .nameInput::-ms-input-placeholder,
.contactForm .emailInput::-ms-input-placeholder,
.contactForm .userComment::-ms-input-placeholder {
  opacity: 1;
}

.contactForm .nameInput::placeholder,
.contactForm .emailInput::placeholder,
.contactForm .userComment::placeholder {
  opacity: 1;
}

.contactForm .nameInput,
.contactForm .emailInput {
  height: 50px;
  width: calc(50% - 40px);
  margin: 20px;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.contactForm .userComment {
  width: 100%;
  height: 200px;
  margin: 0 20px;
  border: 2px solid #86e0f9;
}

.contactForm .submit {
  width: 100%;
  margin: 20px;
  border: none;
  background: #0c1423;
  color: #fff;
}

footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #86e0f9;
}

footer p {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  color: #fff;
  color: #0c1423;
  text-align: center;
  margin: 1px 0;
}
