html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, p, a, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.fa-bars {
  display: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 10vh;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1;
  text-transform: uppercase;
}

nav ul li a {
  padding: 10px 15px;
}

nav ul li a:hover, nav ul li a:focus {
  color: #86e0f9;
}

.index nav li:first-child {
  color: #86e0f9;
}

.blog nav li:nth-child(3) {
  color: #86e0f9;
}

.contact nav li:last-child {
  color: #86e0f9;
}

header {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

h1 {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 92px;
  letter-spacing: 1;
  text-transform: uppercase;
}

.index header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0.1))), url(../assets/header-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0.1) 60%), url(../assets/header-image.jpg);
  position: relative;
}

.index header .headerContents {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
}

.index header .headerImage {
  position: relative;
  top: 20px;
  right: -2.6%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 440px;
          flex: 1 0 440px;
  max-width: 700px;
}

.index header .headerImage img {
  width: 100%;
}

.index header h1 {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 13.8rem;
  font-weight: 700;
  line-height: 126px;
  letter-spacing: auto;
  text-transform: uppercase;
  max-width: 450px;
  margin-left: 2.5%;
}

.blog header {
  background-image: url(../assets/blog-header.jpg);
  height: 80vh;
}

.contact header {
  background-image: url(../assets/contact-header.jpg);
  height: 80vh;
}

section,
article,
aside {
  background-color: #0c1423;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  color: #fff;
}

.readMore {
  background: #86e0f9;
  color: #0c1423;
  border: 2px solid #86e0f9;
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1;
  padding: 5px 25px;
  text-transform: uppercase;
  -webkit-transition: background .3s, color .3s, border .3s;
  transition: background .3s, color .3s, border .3s;
}

.readMore:hover, .readMore:focus {
  background: #0c1423;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: background .3s, color .3s, border .3s;
  transition: background .3s, color .3s, border .3s;
}

.index h2 {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 1;
  text-transform: uppercase;
}

.index h3 {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 1;
  text-transform: uppercase;
}

.aboutSection {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.aboutSection h2 {
  margin-top: 10px;
}

.aboutSection p {
  text-align: left;
  width: 70%;
  margin: 27px auto;
}

.mainArticles {
  background: #0f614e;
  padding: 40px 0;
}

.mainArticles .readMore {
  background: #0c1423;
  color: #fff;
  border: 2px solid #0c1423;
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1;
  padding: 5px 25px;
  text-transform: uppercase;
  -webkit-transition: background .3s, color .3s, border .3s;
  transition: background .3s, color .3s, border .3s;
}

.mainArticles .readMore:hover, .mainArticles .readMore:focus {
  background: #86e0f9;
  color: #0c1423;
  border: 2px solid #86e0f9;
  -webkit-transition: background .3s, color .3s, border .3s;
  transition: background .3s, color .3s, border .3s;
}

.mainArticles .mainArticlesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.mainArticles .newAdditionsText,
.mainArticles .meetNemoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 330px;
          flex: 1 0 330px;
  max-width: 530px;
}

.mainArticles .newAdditionsText .readMore,
.mainArticles .meetNemoText .readMore {
  width: 150px;
}

.mainArticles .newAdditionsText p,
.mainArticles .meetNemoText p {
  margin: 30px 0;
}

.mainArticles .newAdditionsText {
  padding: 0 30px 0 15px;
  margin: 0 2.5% 0 30px;
}

.mainArticles .meetNemoText {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  margin: 0 30px 0 2.5%;
  padding: 0 15px 0 30px;
}

.mainArticles .meetNemoText .readMore {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mainArticles .newAdditionsImage,
.mainArticles .meetNemoImage {
  height: 280px;
  max-width: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 550px;
          flex: 1 0 550px;
  margin-bottom: 30px;
}

.mainArticles .newAdditionsImage img,
.mainArticles .meetNemoImage img {
  width: 100%;
}

.mainArticles .newAdditionsImage {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 30px;
  position: relative;
  top: -70px;
  left: -2.6%;
}

.mainArticles .newAdditionsImage img {
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
}

.mainArticles .meetNemoImage {
  margin-left: 30px;
  position: relative;
  bottom: -50px;
  right: -2.6%;
}

.mainArticles .meetNemoImage img {
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
}

.siteMap {
  padding: 100px 0;
}

.siteMap ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siteMap ul li {
  min-height: calc(32px + 96px);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 443px;
          flex: 1 0 443px;
  max-width: 500px;
  padding: 0 50px 0 5px;
  margin: 30px 10px;
}

.siteMap ul li:nth-child(-n+2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.siteMap .fa-li {
  left: -2.4em;
}

.siteMap .fa-li .fa-circle {
  color: #86e0f9;
  font-size: 2.8em;
  position: relative;
  left: -10px;
  top: -5px;
}

.siteMap .fa-li .fa-location-arrow,
.siteMap .fa-li .fa-users,
.siteMap .fa-li .fa-file,
.siteMap .fa-li .fa-phone {
  color: #0c1423;
  font-size: 1.533em;
  top: 0.3px;
}

.siteMap .fa-li .fa-location-arrow {
  left: -5.4px;
  top: 1px;
}

.siteMap .fa-li .fa-users {
  left: -4px;
}

.siteMap .fa-li .fa-file {
  left: -3.5px;
}

.siteMap .fa-li .fa-phone {
  left: -4px;
}

.aquariumView {
  min-height: 75vh;
  width: 100%;
  background: url(../assets/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.monthProfile {
  padding: 110px 70px;
}

.monthProfile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.monthProfile .wrapper .monthProfileText {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
  margin-left: 50px;
}

.monthProfile .wrapper .monthProfileText p {
  margin: 40px 0;
}

.monthProfile .wrapper .monthProfileImage {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  height: 100%;
  max-width: 275px;
  max-height: 275px;
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
  margin: 0 45px 45px 0;
}

.monthProfile .wrapper .monthProfileImage img {
  width: 100%;
}

.gallery {
  background: #0f614e;
  padding: 50px 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 50px;
}

.gallery ul li {
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
}

.gallery ul li img {
  width: 100%;
}

.blog main {
  background: #0c1423;
}

.blog main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.discoveringSpecies {
  background: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 450px;
          flex: 1 0 450px;
  max-width: 800px;
  position: relative;
  top: -300px;
  right: -2.6%;
}

.discoveringSpecies h1 {
  padding-bottom: 15px;
}

.discoveringSpecies .blogImage {
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
}

.discoveringSpecies .blogImage img {
  width: 100%;
}

.discoveringSpecies .blogText {
  padding: 60px 0 20px 40px;
  margin-right: 80px;
  border: 5px solid #86e0f9;
  border-right: none;
  border-top: none;
  position: relative;
  left: -30px;
}

.discoveringSpecies .blogText .bydate {
  margin-bottom: 40px;
}

.comments {
  margin-right: 110px;
}

.comments h3 {
  margin: 20px 0;
}

.comments .commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  height: 100%;
}

.comments .commentBox .userImage {
  margin-right: 20px;
  padding-top: 10px;
}

.comments .commentBox .userImage img {
  width: 66px;
  height: 66px;
}

.comments .commentBox .userComment p:last-child {
  line-height: 2.3rem;
  margin-top: 10px;
}

.comments .submitComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -200px;
}

.comments .submitComment input, .comments .submitComment textarea {
  background: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  color: #fff;
  border: none;
  border-bottom: 2px solid #86e0f9;
  padding: 10px 20px;
}

.comments .submitComment input::-webkit-input-placeholder, .comments .submitComment textarea::-webkit-input-placeholder {
  opacity: 1;
}

.comments .submitComment input:-ms-input-placeholder, .comments .submitComment textarea:-ms-input-placeholder {
  opacity: 1;
}

.comments .submitComment input::-ms-input-placeholder, .comments .submitComment textarea::-ms-input-placeholder {
  opacity: 1;
}

.comments .submitComment input::placeholder, .comments .submitComment textarea::placeholder {
  opacity: 1;
}

.comments .submitComment input:focus, .comments .submitComment textarea:focus {
  border: 2px solid #86e0f9;
}

.comments .submitComment input {
  width: calc(50% - 20px);
}

.comments .submitComment textarea {
  width: 100%;
  margin: 20px 0;
  border: 2px solid #86e0f9;
  height: 200px;
}

.comments .submitComment .submit {
  background: #0f614e;
  width: 100%;
  border: 2px solid #0f614e;
  color: #fff;
  cursor: pointer;
}

.comments .submitComment .submit:hover, .comments .submitComment .submit:focus {
  background: #86e0f9;
  color: #0c1423;
  border: 2px solid #86e0f9;
  -webkit-transition: background .3s, color .3s, border .3s;
  transition: background .3s, color .3s, border .3s;
}

.otherBlogs {
  background: #0f614e;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  max-width: 300px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 20px 49px;
  height: 100%;
  position: relative;
  top: 200px;
  left: -2.6%;
}

.otherBlogs .sideImage {
  position: relative;
  left: -60px;
  top: -20px;
  width: 340px;
  height: 200px;
  overflow: hidden;
}

.otherBlogs .sideImage img {
  width: 100%;
  -webkit-transform: translateY(-18%);
          transform: translateY(-18%);
}

.otherBlogs .sideText {
  padding: 0 15px 15px 15px;
}

.otherBlogs .sideText h3 {
  text-transform: uppercase;
  margin: 25px 0 5px 0;
}

.otherBlogs .sideText h3:first-child {
  margin-top: 0;
}

.otherBlogs .sideText p {
  line-height: 2.2rem;
}

.otherBlogs .sideText p a {
  border-bottom: 1px solid #0f614e;
}

.otherBlogs .sideText p a:hover, .otherBlogs .sideText p a:focus {
  border-bottom: 1px solid white;
}

.otherBlogs .sideText ul {
  padding-left: 15px;
}

.otherBlogs .sideText ul li {
  list-style: disc;
  padding-left: 7px;
}

.contactContainer {
  background: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
}

.contactInfo {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 30%;
  -webkit-box-flex: 3;
      -ms-flex: 3 3 230px;
          flex: 3 3 230px;
  max-width: 230px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 50px;
  position: relative;
  top: 5px;
}

.contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactInfo ul a {
  padding: 20px;
}

.contactInfo ul a:hover, .contactInfo ul a:focus {
  color: #86e0f9;
}

.contactInfo ul .fab {
  display: inline-block;
  font-size: 2rem;
}

.contactInfo h2 {
  text-transform: uppercase;
  margin: 20px 0;
}

.contactInfo p {
  line-height: 2.7rem;
}

.contactSection {
  background: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
  max-width: 900px;
  position: relative;
  top: -240px;
  right: 15px;
  height: 530px;
}

.contactSection h1 {
  padding: 0 0 15px 15px;
}

.contactSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contactForm {
  background: #0f614e;
  width: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
}

.contactForm .nameInput,
.contactForm .emailInput,
.contactForm .userComment {
  background: #0f614e;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  color: #fff;
  padding: 5px 20px;
}

.contactForm .nameInput::-webkit-input-placeholder,
.contactForm .emailInput::-webkit-input-placeholder,
.contactForm .userComment::-webkit-input-placeholder {
  opacity: 1;
}

.contactForm .nameInput:-ms-input-placeholder,
.contactForm .emailInput:-ms-input-placeholder,
.contactForm .userComment:-ms-input-placeholder {
  opacity: 1;
}

.contactForm .nameInput::-ms-input-placeholder,
.contactForm .emailInput::-ms-input-placeholder,
.contactForm .userComment::-ms-input-placeholder {
  opacity: 1;
}

.contactForm .nameInput::placeholder,
.contactForm .emailInput::placeholder,
.contactForm .userComment::placeholder {
  opacity: 1;
}

.contactForm .nameInput,
.contactForm .emailInput {
  height: 50px;
  width: calc(50% - 40px);
  margin: 20px;
  border: 2px solid #0f614e;
  border-bottom: 2px solid #86e0f9;
}

.contactForm .nameInput:focus,
.contactForm .emailInput:focus {
  border-color: #86e0f9;
}

.contactForm .userComment {
  width: 100%;
  height: 200px;
  margin: 0 20px;
  border: 2px solid #86e0f9;
}

.contactForm .submit {
  width: 100%;
  margin: 20px;
  border: 2px solid #0c1423;
  background: #0c1423;
  color: #fff;
  cursor: pointer;
}

.contactForm .submit:hover, .contactForm .submit:focus {
  background: #86e0f9;
  color: #0c1423;
  border: 2px solid #86e0f9;
  -webkit-transition: background .3s, color .3s, border .3s;
  transition: background .3s, color .3s, border .3s;
}

footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #86e0f9;
}

footer p {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  color: #fff;
  color: #0c1423;
  text-align: center;
  margin: 1px 0;
}

@media (max-width: 985px) {
  .mainArticles .mainArticlesContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainArticles .newAdditionsText,
  .mainArticles .meetNemoText {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 550px;
            flex: 1 0 550px;
  }
  .mainArticles .newAdditionsImage,
  .mainArticles .meetNemoImage {
    position: static;
    height: 100%;
  }
  .mainArticles .newAdditionsText {
    margin: 20px 50px 80px 0;
    padding-left: 0;
  }
  .mainArticles .meetNemoImage {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mainArticles .meetNemoText {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 20px 0 0 50px;
    padding-right: 0;
  }
}

@media (max-width: 955px) {
  .index header .headerContents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 0;
  }
  .index header .headerImage {
    top: 0;
    max-width: 440px;
  }
  .index header h1 {
    font-size: 10rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 910px) {
  .siteMap {
    padding: 50px 0;
  }
  .monthProfile {
    padding: 60px 50px;
    text-align: center;
  }
  .monthProfile .wrapper .monthProfileText {
    margin-left: 0;
    margin-top: 20px;
  }
  .discoveringSpecies {
    right: -25px;
    margin-right: 35px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
  }
  .otherBlogs {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    top: 0;
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px 90px;
  }
  .otherBlogs .sideImage {
    left: -20px;
    height: 100%;
  }
  .otherBlogs .sideImage img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .otherBlogs .sideText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 235px;
            flex: 1 0 235px;
    margin: 20px 0;
    padding-bottom: 0;
  }
  .otherBlogs .sideText p {
    width: 70%;
    text-align: center;
  }
  .contactContainer {
    margin-bottom: 0;
  }
  .contactInfo {
    position: static;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 40px 57px;
    width: 100%;
    max-width: none;
    top: 0;
  }
  .contactInfo .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactSection {
    right: 0;
    height: 350px;
  }
  .contactSection h1 {
    padding-left: 40px;
  }
  .contactSection .contactForm {
    margin-left: 25px;
  }
}

@media (max-width: 670px) {
  .mainArticles {
    padding: 40px 20px;
  }
  .mainArticles .newAdditionsText,
  .mainArticles .meetNemoText {
    text-align: center;
    padding: 0;
    margin: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
  }
  .mainArticles .newAdditionsText .readMore,
  .mainArticles .meetNemoText .readMore {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mainArticles .newAdditionsText {
    margin-bottom: 60px;
  }
  .mainArticles .newAdditionsImage,
  .mainArticles .meetNemoImage {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
  }
  .siteMap ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
    padding: 0 0 0 5px;
  }
  .monthProfile {
    padding: 110px 0;
  }
  .otherBlogs {
    margin: 20px 35px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
  .otherBlogs .sideImage {
    left: 0;
  }
}

@media (max-width: 550px) {
  .fa-bars {
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 100;
    color: #0c1423;
    background: #86e0f9;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 3.5rem;
    padding: 15px;
    cursor: pointer;
  }
  nav {
    width: 1px;
    overflow: hidden;
  }
  nav ul {
    background: #0c1423;
    border: 2px solid #86e0f9;
    border-radius: 50%;
    padding: 41px;
    width: 265px;
    position: fixed;
    right: -100%;
    top: 100px;
    z-index: 100;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: right .3s ease-in;
    transition: right .3s ease-in;
  }
  nav ul li {
    width: 115px;
    text-align: right;
  }
  .nav-slide-in {
    right: -101px;
    top: 100px;
    -webkit-transition: right .3s ease-out;
    transition: right .3s ease-out;
  }
  .index header h1 {
    font-size: 7rem;
    line-height: 7rem;
  }
  .index header .headerImage {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
  }
  .index h2 {
    line-height: 5rem;
  }
  .aboutSection {
    padding: 50px 0;
    height: 100%;
  }
  .aboutSection .wrapper p {
    text-align: center;
  }
  .monthProfile .wrapper .monthProfileText {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
  }
  .monthProfile .wrapper .monthProfileText p {
    padding: 0 15px;
  }
  .contactSection h1 {
    font-size: 6rem;
    line-height: 5rem;
    padding-right: 7px;
  }
  .contactSection .contactForm {
    padding: 5px;
  }
  .contactSection .contactForm input {
    width: 100%;
    margin-top: 0;
  }
  .contactSection .contactForm textarea {
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    width: 98%;
  }
  .mainArticles .newAdditionsImage img {
    -webkit-box-shadow: 15px 15px #86e0f9;
            box-shadow: 15px 15px #86e0f9;
  }
  .mainArticles .meetNemoImage img {
    -webkit-box-shadow: -15px 15px #86e0f9;
            box-shadow: -15px 15px #86e0f9;
  }
  .mainArticles .newAdditionsText p,
  .mainArticles .meetNemoText p {
    margin: 15px 0;
  }
  .siteMap ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
  .discoveringSpecies .blogText {
    margin-right: 15px;
    left: -14.8px;
  }
  .discoveringSpecies .blogImage {
    -webkit-box-shadow: -15px 15px #86e0f9;
            box-shadow: -15px 15px #86e0f9;
  }
  .comments {
    margin-right: 35px;
  }
  .comments .bydate {
    line-height: 2rem;
    padding-top: 7px;
  }
  .comments .submitComment input {
    width: 100%;
  }
  .otherBlogs .sideImage {
    position: static;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
  .contactSection {
    right: 4px;
  }
  .contactForm {
    -webkit-box-shadow: -15px 15px #86e0f9;
            box-shadow: -15px 15px #86e0f9;
  }
  .contactInfo {
    margin: 40px 20px;
  }
}
